@using Medicare.Application.Services.Interfaces
@using Medicare.Domain.Entities
@using Medicare.Presentation.Models.Appointments
@using Medicare.Presentation.Models.Users
@model AppointmentDetailsViewModel;
@inject ISessionService _sessionService;
@inject IDoctorService _doctorService;
@inject ILabTestService _labTestService;
@{
    ViewData["Title"] = "Crear cita - Medicare";
    Layout = "~/Views/Shared/AuthenticatedPartialView.cshtml";
    User currentUser = await _sessionService.GetCurrentUser();
    var labTestsAvailable = await _labTestService.GetAllAsync(new CancellationToken(), lb => lb.OfficeId == Model.Appointment.OfficeId);
}

<section class="bg-white">
    <div class="flex justify-center">
        <div class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-3/5">


            <form asp-controller="Appointment" asp-action="CreateLabTests" method="post" class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">
                @Html.AntiForgeryToken()
                <div>
                    <label class="block mb-2 text-sm text-gray-600">Paciente</label>
                    <span class="block mb-2 text-sm text-teal-400">@Model.Appointment.Patient.Name @Model.Appointment.Patient.Lastname</span>
                </div>
                <div>
                    <label class="block mb-2 text-sm text-gray-600">Doctor</label>
                    <span class="block mb-2 text-sm text-teal-400">@Model.Appointment.Doctor.Name @Model.Appointment.Doctor.Lastname</span>
                </div>


                <div>
                    <label class="block mb-2 text-sm text-gray-600">Fecha</label>
                    <label class="block mb-2 text-sm text-teal-400">@DateOnly.FromDateTime(Model.Appointment.Date)</label>
                </div>

                <div>
                    <label class="block mb-2 text-sm text-gray-600">Hora</label>
                    <label class="block mb-2 text-sm text-teal-400">@Model.Appointment.Hour</label>
                </div>
                <div class="flex flex-col gap-x-2 justify-center items-start">
                    <input type="hidden" asp-for="Appointment.Id" />
                    <input type="hidden" asp-for="Appointment.DoctorId" />
                    <input type="hidden" asp-for="Appointment.PatientId" />
                    <input type="hidden" asp-for="Appointment.OfficeId" />
                    <label class="block mb-2 text-sm text-gray-600">Nombre del consultorio</label>
                    <div class="w-1/2 py-1 px-2 bg-teal-300 rounded-md">
                        <span class="text-white font-semibold">@Model.Appointment.Office.Name</span>
                    </div>
                </div>

                <div class="flex flex-col gap-x-2 justify-center items-start">
                    <label class="block mb-2 text-sm text-gray-600">Pruebas de laboratorio</label><div class="h-64 overflow-y-auto">
                        <ul class="space-y-4">
                    @foreach(LabTest labtest in labTestsAvailable)
                    {                       
                        <li>
                           <label class="inline-flex items-center">
                              <input name="selectedLabTests" type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" value="@labtest.Id"/>
                              <span class="ml-2">@labtest.Name</span>
                           </label>
                        </li>       
                    }   
                        </ul>
                        @if (!Model.IsValid)
                        {
                            <span class="text-red-500">Debes seleccionar al menos una prueba de laboratorio</span>
                        }                       
                </div>
                </div>
                <a asp-controller="Appointment" asp-action="Index" class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-300 rounded-md hover:bg-gray-200 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span class="font-semibold">Volver atrás</span>
                </a>
                <button type="submit" class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-teal-300 rounded-md hover:bg-teal-200 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                    <span class="font-semibold">Registrar cita</span>
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


